<div class="movement list">
  <h2>Movimientos</h2>

  <table class="listing" summary="Movement list">
    <tr class="header">
	<th>Movimiento</th>
	<th>Cuenta</th>
        <th>Cargo</th>
        <th>Abono</th>
       
    </tr>
    <% cargos = 0  %>
    <% abonos = 0 %>
    <% @movements.each do |movement| %>
    <tr>
	<td><%= movement.description %></td>
	<td><%= movement.account.name %></td>
	<td>
	    <% if movement.movement_type == "Cargo" %>
	      <% cargos = cargos + movement.amount %>
	      <%= movement.amount %>
      	    <% end %>
        </td>
	<td>
	    <% if movement.movement_type == "Abono" %>
	      <% abonos = abonos + movement.amount %>
	      <%= movement.amount %>
	    <%end%>
	</td>

      
		
     </tr>
     <% end %>

     
     <tr><td></td> </tr>
     <tr>
      <td> </td>
      <td>TOTAL</td>
      <td><%= cargos%> </td>
      <td><%= abonos%> </td>
     </tr>
    
     <tr>
      <td></td>	
      <td>BALANCE </td>	
      <td><%= cargos-abonos%></td>	
      <td></td>	

     </tr>
     


  </table>
</div>






















